 h1{
    display: inline;
}
.one{
    width: 100%;
    /* display: inline; */
    background-color: darkturquoise;
}
.second{
    width: 100%;
    /* display: inline; */
    background-color: forestgreen;
}
.third{
    width: 100%;
    background-color: fuchsia;
    /* display: inline; */
}
.main{
    width: 100%;
    display: flex;
}
